<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Vue.js Hangman">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Hangman Game</title>
</head>
<body>
    <div id="app">
        <!--canvas-->
        <div id="board">
            <canvas id="board-canvas"></canvas>
        </div>

        <!--row of blanks-->
        <div id="word">
            <div class="word-blankletter" v-for="letter in wordDivs" v-cloak>{{letter}}</div>
        </div>

        <!--keyboard-->
        <div id="keyboard">
            <div v-for="row in letters" class="keyboard-row">
                <letter-button 
                v-for="letter in row" 
                :letter="letter" 
                :game-over="gameOver" 
                :two-player="twoPlayers" 
                :key="letter"
                @check="check(letter)"
                v-cloak></letter-button>
            </div>
        </div>

        <!--one player, two player, play again-->
        <div id="buttons">
            <button class="buttons-button" :class="{ orange: !twoPlayers }" @click="onePlayer">One Player</button>
            <button id="playagain" class="buttons-button" :class="{ hidden: !gameOver }" @click="playAgain">Play Again</button>
            <button class="buttons-button" :class="{ orange: twoPlayers }" @click="twoPlayer">Two Player</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js">
        console.log('loaded!');
    </script>
    <script src="js/hangman.js"></script>
</body>
</html>